.no-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  &--icon {
    margin-bottom: 5px;
    max-width: 190px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 6px;

    &--title {
      text-align: center;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}